@media (min-width: 900px) {
  .sec1 {
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 2px 0px;
    margin-top: 4.8rem;
    /* padding-top: 2.58rem; */
    background-color: #f9f0fb;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .sec2 {
    padding: 130px;
    display: flex;
    /* border: 1px solid black; */
    width: 100%;
    gap: 1rem;
    padding-top: 40px;
  }
  .div1 {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .div1,
  .div22,
  .div3 {
    width: 33.333%;
    height: auto;
  }
  .div1sub {
    display: flex;
    gap: 5px;
  }
  .div2 {
    display: flex;
    gap: 5px;
  }
  .div3 {
    gap: 5px;
    display: flex;
    margin-left: 50px;
  }
  .div3h3 {
    display: flex;
    flex-direction: column;
  }
  .div2h2 {
    display: flex;
    flex-direction: column;
  }
  .divh1 {
    border: 1px solid black;
    width: 100%;
    text-align: center;
  }
  .contactsh1 {
    font-weight: 900;
    font-size: 1.87rem;
  }
  .circle {
    border-radius: 74%;
    width: 54px;
    height: 54px;
    padding: 10px;
    /* background: #f00; */
    border: 3px solid #000;
    color: #000;
    text-align: center;
    font: 32px Arial, sans-serif;
  }
  .div22 {
    display: flex;
    gap: 1rem;
  }
}

@media (max-width: 899px) {
  .sec1 {
    min-width: 100%;
    min-height: 60vh;
    display: flex;
    margin-top: 4.8rem;

    flex-direction: column;
    justify-content: flex-start;
    background-color: #f46b45;
    /* border: 1px solid black; */
  }
  .div2h2 {
    font-size: 13px;
  }
  .circle {
    border-radius: 74%;
    margin-left: 0.34rem;
    width: 34px;
    height: 34px;
    padding: 10px;
    background: #f46b45;
    border: 2px solid #000;
    color: #000;
    text-align: center;
    font: 12px Arial, sans-serif;
  }
  .contactsh1 {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    padding-top: 0.9rem;
  }
  .sec2 {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    gap: 2rem;
  }
  .div1sub {
    display: flex;
    font-size: 13px;
    gap: 1rem;
  }
  .div3 {
    display: flex;
    font-size: 13px;
    gap: 1rem;
  }
  .div2 {
    display: none;
    font-size: 13px;
    gap: 1rem;
  }
  .div22 {
    display: flex;
    font-size: 13px;
    gap: 1rem;
  }
}
