@media (min-width: 900px) {
  /* .imgcontain {
      display: none;
    }
  
    .sec1 {
      background-color: #f0f0fb;
      width: 100vw;
      height: auto;
    }
  
    .secondsec {
      display: grid;
      grid-template-columns: 2fr 2fr 2fr;
      gap: 0.5rem;
    }
    .thirdsec {
      display: grid;
      grid-template-columns: 2fr 2fr 2fr;
      gap: 0.3rem;
    }
    .img {
      width: 80vw;
      height: 19vh;
    }
    .headerimg {
      position: relative;
      text-align: center;
      color: white;
      width: 100vw;
      height: 20vh;
    }
    .divrentalh1 {
      font-weight: 900;
      font-size: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: 0.9rem;
  
      transform: translate(-50%, -50%);
    }
    .divscontainer {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
    }
    .div1,
    .div2 {
      display: flex;
      gap: 1.2rem;
    }
    .div1content {
      padding-top: 1.8rem;
      padding-left: 1rem;
    }
    .div1 {
      padding-top: 5rem;
    }
    .replacekeys {
      font-size: 0.9912rem;
      color: #f00;
    }
    .replacekeys,
    .h1keys,
    .h2fix {
      font-weight: 800;
    }
    .h1keys {
      font-size: 1.8rem;
      color: #f00;
    }
    .h2fix {
      font-size: 1.3rem;
      color: #f00;
    }
    .div2p {
      padding-top: 1.8rem;
    }
    .soundbases {
      font-size: 1.8rem;
      color: #f00;
    }
    .soundbases,
    .setup {
      font-weight: 800;
    }
    .setup {
      font-size: 1.3rem;
      color: #f00;
    }
    .cameradiv {
      display: flex;
      gap: 1rem;
    }
    .cameradivp {
      padding-top: 1.8rem;
      padding-left: 0.7rem;
    }
    .cameradivp1,
    .cameradivp2 {
      font-weight: 800;
    }
    .cameradivp1 {
      font-size: 1.97rem;
      color: #f00;
    }
    .cameradivp2 {
      font-size: 1.45rem;
      color: #f00;
    }
    .sectcontent {
      margin-left: 0.9rem;
    }
  
    .installh2 {
      font-weight: 700;
      font-size: 20px;
      text-decoration: underline;
    }
    .divul {
      margin-top: 10px;
    }
    .cardiscription {
      margin-top: 40px;
    }
  
    .detailsdiv {
      margin-top: 20px;
    }
    .detailspan {
      text-decoration: underline;
    }
    .divprice {
      margin-top: 20px;
    }
    .carprice {
      font-weight: 800;
      font-size: 20px;
      text-decoration: underline;
    }
    .ulidentification {
      font-weight: 800;
      font-size: 20px;
    }
    .dividentification h3 {
      margin-top: 20px;
      font-weight: 600;
      font-size: 15px;
      text-decoration: underline;
    }
    .image {
      width: 100vw;
      height: 19vh;
    }
    .imgcontainer {
      display: flex;
      margin-top: 1rem;
      flex-direction: column;
      gap: 1rem;
      flex-wrap: wrap;
  
      padding-left: 8rem;
    }
    .gallery {
      padding-top: 0.5rem;
      padding-left: 0.5rem;
      font-size: 1.89;
      font-weight: 800;
    }
    .imagecontainer2 {
      display: flex;
      margin-top: 1rem;
      flex-direction: column;
      gap: 0.6rem;
      flex-wrap: wrap;
      width: 80vw;
      height: 90vh;
      flex-wrap: wrap;
    } */

  .imgcontainer {
    display: none;
  }
  .sec1 {
    background-color: #f0f0fb;
    width: 100vw;
    height: auto;
  }
  .divrentalh1 {
    font-weight: 900;
    font-size: 26px;
    padding-top: 1rem;
    color: #fff;
  }
  .installh2,
  .detailspan {
    color: #333333;
  }
  .imgcontain {
    display: none;
    flex-direction: column;
    margin-top: 3rem;
    margin-right: 0.5rem;
  }
  .ultrackers,
  .discriptiondiv,
  .detailspanp1 {
    font-size: 0.85rem;
  }

  .dividentification {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.4rem;
    text-decoration: underline;
  }
  .ulidentification {
    font-weight: 800;
    font-size: 1rem;
    text-decoration: none;
  }

  .divprice {
    display: none;
  }
  .sectcontent {
    margin-top: 3rem;
  }
  .secondsec {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    /* border: 1px solid black; */
  }
  .thirdsec {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
  }
  .image {
    width: 100vw;
    height: 18vh;
    object-fit: cover;
  }
  /* query for electronics mobile header */
  .headerimg {
    width: 100vw;
    height: 20vh;
    position: relative;
    text-align: center;
    color: white;
  }
  .divscontainer {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: 100vw;
    height: auto;
  }
  .imgelec {
    border-radius: 50%;
    width: 38vw;
    height: 50vh;
    padding-top: 0.52rem;
  }
  .imgradius {
    display: flex;
    justify-content: center;
    width: 40vw;
    height: 55vh;
    border-radius: 50%;
    border: 1px solid #ff2d4f;
  }

  .div1,
  .div2,
  .cameradiv,
  .powersaw,
  .electricaldrill {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .div1content,
  .div2p,
  .cameradivp {
    text-align: center;
  }
  .divrentalh1 {
    font-weight: 900;
    font-size: 30px;
    padding-bottom: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 0.9rem;

    transform: translate(-50%, -50%);
  }
  /* fonts   */
  .cameradivp1,
  .powersawh1,
  .soundbases,
  .electricalldrillchildh1,
  .h1keys {
    font-size: 1.2rem;
    font-weight: 800;
    color: #333333;
  }
  .cameradivp2,
  .replacekeys,
  .setup {
    font-size: 1rem;
    font-weight: 800;
    color: #333333;
  }
  /* .powersawchild,
    .div1content,
    .electricalldrillchild,
    .powersawchild,
    .cameradivp {
      border-bottom: 1px solid red;
    } */
}

@media (max-width: 899px) {
  .imgcontainer {
    display: none;
  }
  .sec1 {
    background-color: #f0f0fb;
    width: 100vw;

    height: auto;
  }
  .divrentalh1 {
    font-weight: 900;
    font-size: 26px;
    padding-top: 1rem;
    color: #fff;
  }
  .installh2,
  .detailspan {
    color: #333;
  }
  .imgcontain {
    display: none;
    flex-direction: column;
    margin-top: 3rem;
    margin-right: 0.5rem;
  }
  .ultrackers,
  .discriptiondiv,
  .detailspanp1 {
    font-size: 0.85rem;
  }

  .dividentification {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.4rem;
    text-decoration: underline;
  }
  .ulidentification {
    font-weight: 800;
    font-size: 1rem;
    text-decoration: none;
  }

  .divprice {
    display: none;
  }
  .sectcontent {
    margin-top: 3rem;
  }
  .secondsec {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    /* border: 1px solid black; */
  }
  .thirdsec {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
  }
  .image {
    width: 100vw;
    height: 18vh;
  }
  /* query for electronics mobile header */
  .headerimg {
    width: 100vw;
    height: 20vh;
    position: relative;
    text-align: center;
    color: white;
  }
  .divscontainer {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100vw;
    height: auto;
  }
  .imgelec {
    border-radius: 50%;
    width: 78vw;
    height: 50vh;
    padding-top: 0.52rem;
  }
  .imgradius {
    display: flex;
    justify-content: center;
    width: 85vw;
    height: 55vh;
    border-radius: 50%;
    border: 1px solid #ff2d4f;
  }

  .div1,
  .div2,
  .cameradiv,
  .powersaw,
  .electricaldrill {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .div1content,
  .div2p,
  .cameradivp {
    text-align: center;
  }
  .divrentalh1 {
    font-weight: 900;
    font-size: 30px;
    padding-bottom: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 0.9rem;

    transform: translate(-50%, -50%);
  }
  /* fonts   */
  .cameradivp1,
  .powersawh1,
  .soundbases,
  .electricalldrillchildh1,
  .h1keys {
    font-size: 1.2rem;
    font-weight: 800;
    color: #333;
  }
  .cameradivp2,
  .replacekeys,
  .setup {
    font-size: 1rem;
    font-weight: 800;
    color: #333;
  }
}
