<link rel="stylesheet" href="./styles/navtester.css">


/* REMEMBERTO DELETE THIS AND OTHER WASTE FILES */
<!-- Navigation starts here -->
 <nav class="navbar">
  <div class="navbar-container container">
      <input type="checkbox" name="" id="">
      <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
      </div>
      <ul class="menu-items">
        <a href="./index.html">
          <li>
          <i class="fa-solid fa-house icon"></i>
          Home</li></a>
        <a href="./electronics.html"> <li>
          <i class="fa-solid fa-radio icon"></i>
          
          Electronics
          <i class="fa-solid fa-angle-right angle"></i>
        </li></a>
        <a href="./constructions.html"><li>
          <i class="fa-solid fa-person-digging icon"></i>
          
          Construction
          <i class="fa-solid fa-angle-right angle"></i>
        </li></a>  
        <a href="./events.html"><li>
          <i class="fa-solid fa-user-group icon"></i>
          
          Events
          <i class="fa-solid fa-angle-right angle"></i>
        </li></a>
        <a href="./rentals.html"><li>
          <i class="fa-solid fa-car-side icon"></i>
          
          Rental cars
                    <i class="fa-solid fa-angle-right angle"></i>
        </li></a>

          <ul class="sidebarabout">
            <a href="#about" class="sidebarabouta"><li>
              About us
            </li></a>
            <a href="#contacts" class="sidebarcontactsa"><li>
              Contact us
            </li></a>
            <li class="callnow">
              <i class="fa-solid callnowphone fa-phone"></i>
              <a href="tel:8764549844" class="sidebarcallnowa">
                Call now
              </a>
      
            </li>
            
          </ul>
      </ul>


  </div>
  <p class="logo">Copper Electronics&Hardwares</p>

</nav>
  <!-- nav ends here -->


           <!-- second Nav--------------------------------------------------------------------------------- -->
            <section class='mobilesecnav'>
              <section class='secnavcontent'>
                <ul class='div1'>
                    <li class='clockicon'>
                      <i class="fa-regular fa-clock"></i>
                    </li>
                  <span class='spanhours'>Sun to Sun-7:00AM to 10:00PM</span>
                </ul>
                <ul class='div2'>
                    <a href="https://www.instagram.com/copperelectronics">
                      <li>
                        <i class="fa-brands fa-instagram instagram"></i>
          
                      </li>
                    </a>
                    <li>
                      <a href="https://www.tiktok.com/@copper.electronic">
                          <i class="fa-brands fa-tiktok tiktok"></i>
                      </a>
                    </li>
                </ul>
              </section>
            </section>
 /* SECOND NAV IN RED------------------------- */

  .mobilesecnav {
  display: flex;
  width: 100%;
  min-height: 3rem;
  background-color: brown;
  color: #fff;
}
.instagram,
.tiktok {
  color: #fff;
}
.secnavcontent {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 4rem;
  align-items: center;
}
.spanhours {
  font-weight: 400;
}
.clockicon {
  padding-top: 0.13rem;
  padding-right: 0.3rem;
}
.div1 {
  display: flex;
  gap: 0.23rem;
}
.div2 {
  display: flex;
  gap: 0.7rem;
}
.clock {
  color: #fff;
  text-decoration: underline;
}

/* mobile  second nav ends here */

.circle {
  border-radius: 74%;
  margin-left: 0.34rem;
  width: 34px;
  height: 32px;
  padding: 10px;
  background: #f46b45;
  border: 2px solid #171717;
  color: #000;
  text-align: center;
  font: 16px Arial, sans-serif;
  font-weight: 800;
}

.contactssec1 {
  min-width: 100%;
  min-height: 60vh;
  display: flex;
  margin-top: 4.8rem;

  flex-direction: column;
  justify-content: flex-start;
  background-color: #f46b45;
  /* border: 1px solid black; */
}

/* SECOND NAV IN RED- */

.mobilesecnav {
  display: flex;
  width: 100%;
  padding-top: 0.5rem;
  min-height: 3rem;
  background-color: brown;
  color: #fff;
}

.aboutdiv2 {
  display: flex;
  flex-direction: column;
  padding-top: 0.8rem;
  gap: 1rem;
  color: #333;
  background-color: #f9fafb;
}
